@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "tailwindcss";

body {
  font-family:
    Sofia Sans,
    sans-serif;
}

@theme {
  /* Font & Font sizes */
  --text-base: 13.5px;
  --text-heading: 18px;
  --font-jetbrains: JetBrains Mono;

  /* Pallete */
  --color-lime: #b6ff6e;
  --color-pink: #ff6eb7;
  --color-yellow: #ffff6e;
  --color-box: #1C1C1C;
  /*--color-blue: #6EB6FF;*/

  /* Miscelleanous colors */
  --color-line-break: #141414;
  
  /*  */
  --text-code: 12px
}
