@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "tailwindcss";

body {
  font-family:
    Sofia Sans,
    sans-serif;
}

@theme {
  /* Font sizes */
  --text-base: 16px;
  --text-heading: 22px;
  --text-sm: 14.5px;
  --text-code: 13.5px;
  --text-code: 12.5px;

  /* Fonts */
  --font-jetbrains: JetBrains Mono;

  /* Pallette */
  --color-lime: #b6ff6e;
  --color-pink: #ff6eb7;
  --color-box: #1c1c1c;
  --color-blue: #6eb6ff;
  /*--color-yellow: #FFFF6E;*/

  /* Miscellaneous colors */
  --color-line-break: #262626;
}
